*{
    margin: 0;
    font-family: sans-serif;
} 
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(247, 237, 237, 0.055), rgba(245, 240, 240, 0.447)),
    url(amok.webp);
    opacity: 100%;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
}

.navbar{
    font-size: 18px;
    width: 85%;
    margin-left: 20px;
    margin-right: 2px;
    padding: 20px 0px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: absolute; /* Keeps the navbar on top of the banner */
    top: 0; /* Positions the navbar at the top of the banner */
    left: 0; /* Aligns the navbar to the left */
    z-index: 10;
        
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    margin-right: 4px;
    margin-inline-end: auto;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background:rgb(253, 237, 4);
    position: absolute;
    left: 0;    
    bottom: -10px;
    transition:0.5s ;
}
.navbar ul li a:hover::after{
    width: 100%;
}