*{
    margin: 0;
    font-family: sans-serif;
} 
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(247, 237, 237, 0.055), rgba(156, 150, 150, 0.447)),
    url(amok.webp);
    opacity: 100%;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
}

img {
    width: 200px;
    /* border: 1px solid black; */
}
.navbar{
    font-size: 18px;
    width: 85%;
    height: 25px;
    margin-left: 20px;
    margin-right: 2px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    margin-right: 10px;
    margin-left: 15vh;
    padding-left: 10px;
    margin-inline-end: auto;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.navbar ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background:rgb(253, 237, 4);
    position: absolute;
    left: 0;    
    bottom: -10px;
    transition:0.5s ;
}
.navbar ul li a:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
    padding: 1px;
}
.content h1{
    font-family:sans-serif;
    font-family: cursive;
    text-align: center;
    font-size: 45px;
}
.content h4{
    margin-top: 20px;
    font-size: 18px;
    font-family: cursive;
}
.p1 {
    position: relative;
    font-size: 25px;
}

.Breakfast{
    display: flex;
}
.Breakfast h2{
    font: 2em san-serif;
    margin-top: 35px;
    margin-left: 35%;
}

.Lunch {
    display: flex;
}

.Lunch h2 {
    text-align: center;
    font: 2em san-serif;
    margin-top: 35px;
    margin-left: 35%;
}

.Dinner {
    display: flex;
}

.Dinner h2 {
    text-align: center;
    font: 2em san-serif;
    margin-top: 35px;
    margin-left: 35%;
}

.p1{
    width: 100%;
    position: absolute;
    text-align: center;
    color: black;
    padding: 10px;
    font-size: 18px;
    background-color: rgb(87, 53, 9);
    
}


.p1 h2{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 40px;
}
.p1 h5{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif ;
    text-align: center;
    line-height: 30px;
    font-weight: 20;
    margin-top: 30px;
    
}
.p1 p {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}